@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label>Name</label>
        <input asp-for="Product.Name" />
        <label>Desription</label>
        <input asp-for="Product.Desription" />
        <label>Price</label>
        <input asp-for="Product.Price" />
        <input type="submit" value="Save Product" />
    </form>
</div>
